{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<a id="shop-ref" hidden="true" href="{% url 'shop' %}"></a>
<script defer src="{% static 'shop/js/build/shop.js' %}"></script>
<!--<script defer src="{% static 'shop/js/build/bundle.js' %}"></script>-->
    <div class="hero-wrap hero-bread" style="background-image: url(/static/shop/images/bg_1.jpg);">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
            <h1 class="mb-0 bread">Products</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
    					<li><a href="#" class="active">All</a></li>
    					<li><a href="#">Vegetables</a></li>
    					<li><a href="#">Fruits</a></li>
    					<li><a href="#">Juice</a></li>
    					<li><a href="#">Dried</a></li>
    				</ul>
    			</div>
    		</div>



            <div class="shop-list" id="shop-product-list">

            </div>

    		<div class="row mt-5">

        {% if products.paginator.num_pages > 1 %}
        <div class="col text-center">
            <div class="block-27">
              <ul>
                {% if products.has_previous %}
                <li><a href="{% url 'shop' %}{{ products.previous_page_number }}">&lt;</a></li>
                {% endif %}


                {% for _ in products.num_pages_tuple %}

                {% if forloop.counter != products.number %}
                    <li><a id="shop_list_{{forloop.counter}}" href="{% url 'shop' %}{{ forloop.counter }}">{{forloop.counter}}</a></li>
                {% else %}
                    <li id="shop_list_{{forloop.counter}}" class="active"><span>{{forloop.counter}}</span></li>
                {% endif %}

                {% endfor %}

                {% if products.has_next %}
                <li><a href="{% url 'shop' %}{{ products.next_page_number }}">&gt;</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        {% endif %}


        </div>
    	</div>
    </section>

{% endblock %}